<app-nav-bar></app-nav-bar>

<div *ngIf="userInfo" class="user-info">
  <h2>Bem vindo {{ userInfo.nome }}</h2>

  <ng-container *ngFor="let key of userInfo | keys">
    <div class="user-info__field" *ngIf="shouldDisplayField(key)">
      <div *ngIf="!editing" class="user-info__field-value">
        <strong>{{ key }}:</strong> {{ userInfo[key] }}
      </div>
      <ng-container *ngIf="editing">
        <ng-container *ngIf="isEditableField(key)">
          <input type="text" [(ngModel)]="userInfo[key]" class="user-info__field-input" />
        </ng-container>
        <ng-container *ngIf="!isEditableField(key)">
          {{ userInfo[key] }}
        </ng-container>
      </ng-container>
    </div>
  </ng-container>

  <button (click)="toggleEditing()">Editar</button>
  <button *ngIf="editing" (click)="saveChanges()">Salvar</button>
</div>
<app-footer></app-footer>