<div class="teste">

  <h1 class="title">Criar conta</h1>
  <div class="formbold-main-wrapper">
    <div class="formbold-form-wrapper">
      <form (submit)="registrar()">
        <div class="formbold-input-flex">
          <div>
            <input type="text" name="email" id="email" placeholder="E-mail" class="formbold-form-input"
              [(ngModel)]="usuario.email" required />
            <label for="email" class="formbold-form-label"> E-mail </label>
          </div>
          <div>
            <input type="password" name="senha" id="senha" placeholder="Senha" class="formbold-form-input"
              [(ngModel)]="usuario.senha" required />
            <label for="senha" class="formbold-form-label"> Senha </label>
          </div>
        </div>

        <div class="formbold-input-flex">
          <div>
            <input type="text" name="nome" id="nome" placeholder="Nome" class="formbold-form-input"
              [(ngModel)]="usuario.nome" required />
            <label for="nome" class="formbold-form-label"> Nome </label>
          </div>
          <div>
            <input type="text" name="telefone" id="telefone" placeholder="Telefone" class="formbold-form-input"
              [(ngModel)]="usuario.telefone" required />
            <label for="telefone" class="formbold-form-label"> Telefone </label>
          </div>
        </div>

        <div class="formbold-input-flex">
          <div>
            <input type="text" name="cpf" id="cpf" placeholder="CPF" class="formbold-form-input"
              [(ngModel)]="usuario.cpf" required />
            <label for="cpf" class="formbold-form-label"> CPF </label>
          </div>
          <div>
            <input type="text" name="rg" id="rg" placeholder="RG" class="formbold-form-input" [(ngModel)]="usuario.rg"
              required />
            <label for="rg" class="formbold-form-label"> RG </label>
          </div>
        </div>

        <div class="formbold-input-flex">
          <div>
            <input type="date" name="dataNascimento" id="dataNascimento" class="formbold-form-input"
              [(ngModel)]="usuario.dataNascimento" required />
            <label for="dataNascimento" class="formbold-form-label"> Data de Nascimento </label>
          </div>
          <div>
            <input type="text" name="logradouro" id="logradouro" placeholder="Logradouro" class="formbold-form-input"
              [(ngModel)]="usuario.logradouro" required />
            <label for="logradouro" class="formbold-form-label"> Logradouro </label>
          </div>
        </div>

        <div class="formbold-input-flex">
          <div>
            <input type="text" name="uf" id="uf" placeholder="UF" class="formbold-form-input" [(ngModel)]="usuario.uf"
              required />
            <label for="uf" class="formbold-form-label"> UF </label>
          </div>
          <div>
            <input type="text" name="bairro" id="bairro" placeholder="Bairro" class="formbold-form-input"
              [(ngModel)]="usuario.bairro" required />
            <label for="bairro" class="formbold-form-label"> Bairro </label>
          </div>
        </div>

        <div class="formbold-input-flex">
          <div>
            <input type="text" name="cidade" id="cidade" placeholder="Cidade" class="formbold-form-input"
              [(ngModel)]="usuario.cidade" required />
            <label for="cidade" class="formbold-form-label"> Cidade </label>
          </div>
          <div>
            <input type="text" name="username" id="username" placeholder="Nome de Usuário" class="formbold-form-input"
              [(ngModel)]="usuario.username" required />
            <label for="username" class="formbold-form-label"> Nome de Usuário </label>
          </div>
        </div>

        <div class="formbold-input-flex">
          <div>
            <select name="genero" id="genero" class="formbold-form-input" [(ngModel)]="usuario.genero" required>
              <option value="MASCULINO">Masculino</option>
              <option value="FEMININO">Feminino</option>
            </select>
            <label for="genero" class="formbold-form-label"> Gênero </label>
          </div>
        </div>

        <button class="formbold-btn">
          Registrar
        </button>
      </form>
    </div>
  </div>

</div>