.header {
  background-color: #4e35dd;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-radius: 10px;
  height: 80px;
  justify-content: space-between;
}

.logo {
  font-size: 24px;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  cursor: pointer;
  user-select: none;
}

.nav-toggle-label span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px 0;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navbar li {
  margin-right: 20px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
  font-size: 16px;
}

.navbar a:hover {
  color: #09ff00;
}

@media screen and (max-width: 768px) {
  .navbar {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: #333;
    z-index: 1;
  }

  .nav-toggle:checked+.navbar {
    display: flex;
  }

  .navbar ul {
    flex-direction: column;
    align-items: center;
  }

  .navbar li {
    margin: 10px 0;
  }
}