<app-nav-bar></app-nav-bar>
<div class="background">
  <div class="container">
    <div class="images">
      <img (click)="playSound('miau.mp3')" style="width: 200px; cursor: pointer;"
        src="assets/games/animal-sounds/cat.png" alt="cat">
      <img (click)="playSound('auau.mp3')" style="width: 200px; cursor: pointer;"
        src="assets/games/animal-sounds/dog.png" alt="dog">
      <img (click)="playSound('porco.mp3')" style="width: 200px; cursor: pointer;"
        src="assets/games/animal-sounds/pig.png" alt="pig">
      <img (click)="playSound('ovelha.mp3')" style="width: 200px; cursor: pointer;"
        src="assets/games/animal-sounds/sheep.png" alt="sheep">
    </div>
  </div>

</div>