.background {
  background-image: url('/assets/games/fazenda2.png');
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;

}


.container {
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.images,
.sounds {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.images img,
.sounds button {
  margin: 20px;

}