<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap" rel="stylesheet">

<footer>
  <div class="footer">
    <div class="row">
      <a href="https://www.linkedin.com/in/carlos-alberto-94255a21b/"><i class="fa fa-linkedin"></i></a>
      <a href="https://bitbucket.org/metric11/pecs-backend/src/master/"><i class="fa fa-bitbucket"></i></a>
      <a href="https://draenor.atlassian.net/jira/software/projects/PEC/boards/3"><i class="fa fa-trello"></i></a>
      <a href="https://github.com/Atarian-ByVoid"><i class="fa fa-github"></i></a>
    </div>

    <div class="row">
      <ul>
        <li><a href="#">Contact us</a></li>
        <li><a href="#">Our Services</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Terms & Conditions</a></li>
        <li><a href="#">Metric</a></li>
      </ul>
    </div>

    <div class="row">
      METRIC Copyright © 2023 Itajubá - All rights reserved || Designed By: Mahesh || Redesigned: Carlos
    </div>
  </div>
</footer>