<app-nav-bar></app-nav-bar>

<div #captureElement>
  <div class="example-container">

    <div class="table-container">
      <div class="table">
        <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="rotina" class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let url of rotina" cdkDrag>
            <img [src]="url" alt="image" width="50%" />
          </div>
        </div>
      </div>

      <div class="table">
        <div cdkDropList #extraList="cdkDropList" [cdkDropListData]="list2" class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let url of list2" cdkDrag>
            <img [src]="url" alt="image" width="50%" />
          </div>
        </div>
      </div>

      <div class="table">
        <div cdkDropList #newList="cdkDropList" [cdkDropListData]="list3" class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let url of list3" cdkDrag>
            <img [src]="url" alt="image" width="50%" />
          </div>
        </div>
      </div>

      <div class="table">
        <div cdkDropList #newList="cdkDropList" [cdkDropListData]="list3" class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let url of list3" cdkDrag>
            <img [src]="url" alt="image" width="50%" />
          </div>
        </div>
      </div>

      <div class="table">
        <div cdkDropList #newList="cdkDropList" [cdkDropListData]="list3" class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let url of list3" cdkDrag>
            <img [src]="url" alt="image" width="50%" />
          </div>
        </div>
      </div>

      <div class="table">
        <div cdkDropList #newList="cdkDropList" [cdkDropListData]="list3" class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let url of list3" cdkDrag>
            <img [src]="url" alt="image" width="50%" />
          </div>
        </div>
      </div>
      <!-- <div class="example-container">
        <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="listTest" class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let url of listTest" cdkDrag>
            <img [src]="url" alt="image" width="50%" />
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>


<div class="custom-button">
  <button pButton pRipple label=" Submit" (click)="captureAndDownload() " class="p-button-success">Capturar e
    Baixar</button>
</div>