<div class="navbar-container">
  <app-nav-bar></app-nav-bar>
</div>

<div class="table-container">
  <table>
    <tr *ngFor="let row of tableData; let rowIndex = index">
      <td>
        <img *ngIf="rowIndex < 3" [src]="staticImages[rowIndex]" alt="Static Image">
      </td>
      <td *ngFor="let cell of row; let cellIndex = index" (click)="chooseImage(rowIndex, cellIndex)">
        <img [src]="cell" alt="Image">
      </td>
    </tr>
  </table>
</div>




<!-- <div class="table-container">
  <table class="custom-table">
    <tr *ngFor="let row of rows" class="table-row">
      <td *ngFor="let column of columns" class="table-cell">
        <img class="table-image" [src]="getImageUrl(row, column)" (click)="selectImage(row, column)" />
      </td>
    </tr>
  </table>
</div> -->

<!-- <div class="table-div-1">
  <div *ngIf="showFrame1">
    <section class="tables">

      <div #captureElement>

        <div class="example-container">
          <div class="table">
            <div class="list-day">
              <div class="example-box-day" *ngFor="let url of rotina">
                <div class="image-container">
                  <img [src]="url" alt="image" width="50%" />
                  <div class="image-label">
                    {{ getImageLabel(url) }}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="table">
            <div cdkDropList #extraList="cdkDropList" [cdkDropListData]="list2" class="example-list"
              (cdkDropListDropped)="drop($event)">
              <div class="example-box" *ngFor="let url of list2" cdkDrag>
                <img [src]="url" alt="image" width="50%" />
              </div>
            </div>
          </div>
          <div class="table">
            <div cdkDropList #newList="cdkDropList" [cdkDropListData]="list3" class="example-list"
              (cdkDropListDropped)="drop($event)">
              <div class="example-box" *ngFor="let url of list3" cdkDrag>
                <img [src]="url" alt="image" width="50%" />
              </div>
            </div>
          </div>
          <div class="table">
            <div cdkDropList #newList="cdkDropList" [cdkDropListData]="list3" class="example-list"
              (cdkDropListDropped)="drop($event)">
              <div class="example-box" *ngFor="let url of list3" cdkDrag>
                <img [src]="url" alt="image" width="50%" />
              </div>
            </div>
          </div>
          <div class="table">
            <div cdkDropList #newList="cdkDropList" [cdkDropListData]="list3" class="example-list"
              (cdkDropListDropped)="drop($event)">
              <div class="example-box" *ngFor="let url of list3" cdkDrag>
                <img [src]="url" alt="image" width="50%" />
              </div>
            </div>
          </div>
          <div class="table">
            <div cdkDropList #newList="cdkDropList" [cdkDropListData]="list3" class="example-list"
              (cdkDropListDropped)="drop($event)">
              <div class="example-box" *ngFor="let url of list3" cdkDrag>
                <img [src]="url" alt="image" width="50%" />
              </div>
            </div>
          </div>
          <div class="custom-button">
            <button pButton pRipple label=" Submit" (click)="captureAndDownload() " class="p-button-success">Capturar e
              Baixar</button>
            <button class="toggle" (click)="toggleFrame()">Trocar o quadro</button>
          </div>
        </div>
      </div>
    </section>
  </div>
</div> -->

<!-- 
<div *ngIf="!showFrame1">
  <section class="tables">
    <div #captureElement>
      <div class="example-container">
        <div class="table">
          <div class="list-day">
            <div class="example-box-day" *ngFor="let url of rotina">
              <div class="image-container">
                <img [src]="url" alt="image" width="50%" />
                <div class="image-label">
                  {{ getImageLabel(url) }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="table">
          <div cdkDropList #extraList="cdkDropList" [cdkDropListData]="listDiv2" class="example-list"
            (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let url of listDiv2" cdkDrag>
              <img [src]="url" alt="image" width="50%" />
            </div>
          </div>
        </div>

        <div class="table">
          <div cdkDropList #newList="cdkDropList" [cdkDropListData]="listDiv3" class="example-list"
            (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let url of listDiv3" cdkDrag>
              <img [src]="url" alt="image" width="50%" />
            </div>
          </div>
        </div>

        <div class="table">
          <div cdkDropList #newList="cdkDropList" [cdkDropListData]="listDiv4" class="example-list"
            (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let url of listDiv4" cdkDrag>
              <img [src]="url" alt="image" width="50%" />
            </div>
          </div>
        </div>

        <div class="table">
          <div cdkDropList #newList="cdkDropList" [cdkDropListData]="listDiv4" class="example-list"
            (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let url of listDiv4" cdkDrag>
              <img [src]="url" alt="image" width="50%" />
            </div>
          </div>
        </div>

        <div class="table">
          <div cdkDropList #newList="cdkDropList" [cdkDropListData]="listDiv4" class="example-list"
            (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let url of listDiv4" cdkDrag>
              <img [src]="url" alt="image" width="50%" />
            </div>
          </div>
        </div>
        <div class="custom-button">
          <button pButton pRipple label=" Submit" (click)="captureAndDownload() " class="p-button-success">Capturar e
            Baixar</button>
          <button class="toggle" (click)="toggleFrame()">Trocar o quadro</button>
        </div>
      </div>
    </div>
  </section>
</div> -->