.responsive-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 4em;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.responsive-table tr {
  border-bottom: 1px solid #ccc;
}

.responsive-table td {
  padding: 10px;
  text-align: center;
  max-width: 100px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.responsive-table img {
  max-width: 100%;
  max-height: 300px;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  padding-left: 10px;
}

td:hover {
  background-color: #686868;
  transition: 0.7s;
  border-radius: 10px;
}

.navbar-container-week {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 10em;

}

.custom-button {
  text-align: center;
  margin-top: 4px;

}

.custom-button button {
  padding: 15px 20px;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 20px;

}

.custom-button .p-button-success:hover {
  background-color: #007bff;
  color: white;
  transform: translate(2px, 2px);
}

.centered-week {
  text-align: center;
}

.custom-week-navbar button {
  padding: 10px 15px;
  border-radius: 10px;
  background-color: black;
  box-shadow: #686868;
  color: #fff;
  border: none;
  margin: 5px;
  cursor: pointer;
}

.custom-week-navbar button.selected {
  background-color: #e74c3c;
  transition: 1s;

}

.button-day,
.p-button-success {
  font-weight: 900;

}

h1 {
  font-family: system-ui, sans-serif;
  font-weight: bold;
  cursor: pointer;
  font-size: 36px;

}