<app-nav-bar></app-nav-bar>
<div class="background">

  <div class="card-container">

    <div style="  
    background-image: url('/assets/games/cap_game_1.png');
    background-size: cover;
    background-position: center;
    " class="card" (click)="telaInterativa()">
      <h2>Tela Interativa</h2>
    </div>

    <div style="  
    background-image: url('/assets/games/cap_game_3.png');
    background-size: cover;
    background-position: center;
    " class="card" (click)="pintura()">
      <h2>Pintura</h2>
    </div>

    <div style="  
    background-image: url('/assets/games/cap_game_4.png');
    background-size: cover;
    background-position: center;
    " class="card" (click)="simuladoMusical()">
      <h2>Simulador Musical</h2>
    </div>


    <div style="  
    background-image: url('/assets/games/cap_game_2.png');
    background-size: cover;
    background-position: center;
    " class="card" (click)="jogoMemoria()">
      <h2>Jogo da Memória</h2>

    </div>
  </div>
</div>
<app-footer></app-footer>