<h1>Selecione uma imagem</h1>

<mat-tab-group>
  <mat-tab label="Feminino">
    <div class="image-list">
      <div *ngFor="let image of feminino">
        <img [src]="image" (click)="selectImage(image)">
      </div>
    </div>
  </mat-tab>

  <mat-tab label="Masculino">
    <div class="image-list">
      <div *ngFor="let image of masculino">
        <img [src]="image" (click)="selectImage(image)">
      </div>
    </div>
  </mat-tab>

  <mat-tab label="Outros">
    <div class="image-list">
      <div *ngFor="let image of outros">
        <img [src]="image" (click)="selectImage(image)">
      </div>
    </div>
  </mat-tab>
</mat-tab-group>