<div class="navbar-container">
  <app-nav-bar></app-nav-bar>
</div>


<div class="container">
  <div class="patient-form-wrapper">
    <h2 style="color: aliceblue;">Cadastro de Paciente</h2>
    <form class="patient-form" (submit)="cadastrarPaciente()">
      <div class="form-group">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" [(ngModel)]="paciente.nome" required>
      </div>

      <div class="form-group">
        <label for="documento">Documento:</label>
        <input type="text" id="documento" name="documento" [(ngModel)]="paciente.documento"
          (input)="formatDocumento($event)" required>
      </div>

      <div class="form-group">
        <input type="date" name="dataDiagnostico" id="dataDiagnostico" class="formbold-form-input"
          [(ngModel)]="paciente.dataDiagnostico" required />
        <label for="dataNascimento" class="formbold-form-label"> Data de diagnostico </label>
      </div>

      <div class="form-group">
        <label for="tratamento">Tratamento:</label>
        <textarea id="tratamento" name="tratamento" [(ngModel)]="paciente.diagnostico[0].tratamento"
          required></textarea>
      </div>
      <div class="form-group">
        <label for="subtipoTEA">Subtipo TEA:</label>
        <select id="subtipoTEA" name="subtipoTEA" [(ngModel)]="paciente.diagnostico[0].subtipoTEA" required>
          <option [ngValue]="subtiposTEA.AUTISMO_CLASSICO">Autismo Clássico</option>
          <option [ngValue]="subtiposTEA.SINDROME_ASPERGER">Sindrome Asperger</option>
          <option [ngValue]="subtiposTEA.TRANSTORNO_DESINTEGRATIVO_DA_INFANCIA">Transtorno Desintrgrativo de infancia
          </option>
          <option [ngValue]="subtiposTEA.TRANSTORNO_DESENVOLVIMENTO_NAO_ESPECIFICADO">Transtorno de desenvolvimento não
            especificado</option>
        </select>
      </div>
      <div class="form-group">
        <label for="gravidadeTEA">Gravidade TEA:</label>
        <div>
          <select id="gravidadeTEA" name="gravidadeTEA" [(ngModel)]="paciente.diagnostico[0].gravidadeTEA" required>
            <option [ngValue]="gravidadesTEA.LEVE">Leve</option>
            <option [ngValue]="gravidadesTEA.MODERADA">Moderada</option>
            <option [ngValue]="gravidadesTEA.GRAVE">Grave</option>
          </select>
        </div>
      </div>
      <button type="submit">Cadastrar</button>
    </form>
  </div>
</div>