#myVideo {
  width: 100%;
}

#text {
  text-align: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.377);
  backdrop-filter: blur(4px);
  color: white;
  padding: 10%;
  border-radius: 10px;
  width: 60%;
  height: 70%;
}

.title p,
.title-equipe h4,
ul {

  font-size: 15px;
}

.logo {
  margin-top: 10%;
}

h4 {
  font-weight: 600;
}

h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
}

ul p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 15px;
  font-weight: lighter;
}